<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Document
body
	header.heaeder
		.logo
			figure.logo
				img.image(src="", alt="")
		nav.menu
			ul.list
				li.item: a(href="") opcion
				li.item: a(href="") opcion
				li.item: a(href="") opcion
				li.item: a(href="") opcion
				li.item: a(href="") opcion
				li.item: a(href="") opcion
	section.container
		article.content
			figure.image-principal
				img(src="", alt="")
			span.content-text

	